html,body, .container-fluid{
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	overflow-y: visible;
	background-color: #191919;
	height: 100%;
}

h1{
	font-family: 'Raleway', sans-serif;
	color: red;
}

nav{
	z-index: 99;
}

.intro{
	background-image: url("http://i.imgur.com/jV3rOhB.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	border-bottom: ridge;
	border-color: #B2B2B2;
	/*margin-bottom: 50px;*/
}

.nav-tabs{
	position: fixed;
	border-color: black;
	background-color: black;
}

.nav-tabs > li > a{
	background-color: black;
	border-color: black;
	color: white;
	font-family: 'Raleway', sans-serif;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:hover{
	background-color: #2E2E2E;
	color: white;
	border-color: black;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover{
	color: #6699FF;
}

section{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: white;
}

input{
	color: black;
}

#searchRow{
	margin: 0 10px 0 10px;
}

::-webkit-input-placeholder {
	font-style: italic;
}

:-ms-input-placeholder{
	font-style: italic;
}

:-moz-placeholder {
	font-style: italic;  
}

.searchInterface{
	border-bottom: ridge;
	border-color: #B20000;
}

.statement{
	font-size: 30px;
	background-color: transparent;
	color: white;
	border-style: inset;
	border-color: white; 
	padding: 5px; 
}

.statement:hover{
	background-color: black;
}

.myThumbnail{
	border: solid;
	height: 60px;
	width: auto;
	border-color: transparent;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: black;
}

.table{
	margin: 0, 10px, 0, 10px;
}

.itemImage{
	padding-right: 5px;
	display: inline-block;
}

.itemRow{
	padding: 5px 0 5px 0;
	border: solid;
	border-color: white;
}

.itemRow:hover{
	background-color: black;
}

.autocomplete{
  width: 100%;
  height: 100%;
}

.autocomplete input{
  width: 100%;
}

.autocomplete ul{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}


.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #333;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}

ul{
	list-style-type: none;
	/*padding: 0;*/
	margin: 0;
}
